@media all and (max-width: 2560px) and (min-width: 1331px) {

  header.boxed .header-margin{
    width:85%；
  }

  .content .text-intro{
    width:100%；
  }

  .footer-margin{
    width:85%；
  }

  .content .text-intro h1, .content .text-intro p, .content .text-intro li, .content .text-intro h2, .content .text-intro dl{
    width:70% ; /*used to be 60%*/
    margin: auto;
    text-align: left;
  }
 
  .full-column-bg{
        width:100%; 
        float:left;
    }  
 
  .content .index-screen{
    width: 1300px;
    }
  
 .content .index-screen h1,  .content .index-screen p{
    width:75% !important；
  }

  .prev-next{
    max-width:70%；
  }

 
  #spotlight {
      
    width: auto; !important;
    }

  /*
  **************************
  Portfolio Grid index页面
  **************************
  */

  #portfolio-sidebar{

    width: 1010px !important;
    padding-right: 520px;
  }

  .portfolio-grid{

    width:1330px; 

  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:612px;
  }


}



@media all and (max-width: 1330px) and (min-width: 1180px) {

  header.boxed .header-margin{
    width:85%；
  }

  .content .text-intro{
    width:100%；
  }

  .footer-margin{
    width:85%；
  }

  .content .text-intro h1, .content .text-intro p, .content .text-intro li, .content .text-intro h2, .content .text-intro dl{
    width:60% ; /*used to be 60%*/
    margin: auto;
    text-align: left;
  }
 
  .full-column-bg{
        width:100%; 
        float:left;
    }  
 
  .content .index-screen{
    width: 1000px;
    }
  
 .content .index-screen h1,  .content .index-screen p{
    width:75% !important；
  }

  .prev-next{
    max-width:90%；
  }

 
  #spotlight {
      
    width: auto; !important;
    }

  /*
  **************************
  Portfolio Grid index页面
  **************************
  */

  #portfolio-sidebar{

    width: 710px !important;
    padding-right: 320px;
  }

  .portfolio-grid{

    width:1030px; 

  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:312px;
  }


}


@media all and (max-width: 1179px) and (min-width: 1024px) {   /*------2大----- */


  header.boxed .header-margin{
    width:85%；
  }

  .content .text-intro{
    width:100%；
  }

  .footer-margin{
    width:85%；
  }

  .content .text-intro h1, .content .text-intro p, .content .text-intro li, .content .text-intro h2,.content .text-intro dl{
    width:60% ; /*used to be 70%*/
    margin: auto;
    text-align: left;
  }

  .full-column-bg{
        width:100%; 
        float:left;
    }  
    
  #full{
    width:100%；
  }

  .prev-next{
    max-width:100%；
  }

.home-sidebar{
    display:250px;
  }

 .content .index-screen{
    width: 850px;
    }
  
 .content .index-screen h1,  .content .index-screen p{
    width:75% !important；
  }
  /* 250px 可删----
  **************************
  Portfolio Grid
  **************************
  */
    
  #portfolio-sidebar{

    width: 580px !important;
    padding-right: 250px;
  }

  .portfolio-grid{

    width:830px;

  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:246px;
  }

}


@media all and (max-width: 1023px) and (min-width: 769px) {  /*------3小----- */


  header.boxed .header-margin{
    width:85%;
  }

  .content .text-intro{
    width:100%;
  }

  .footer-margin{
    width:85%;
  }

 .content .text-intro h1, .content .text-intro p, .content .text-intro li, .content .text-intro h2, .content .text-intro dl{
    width:60% ; /*used to be 70%*/
    margin: auto;
    text-align: left;
  }

  .full-column-bg{
        width:100%; 
        float:left;
    }  
    
  #full{
    width:600px;
  }
    
  .prev-next{
    max-width:600px;
  }
  
  .home-sidebar{
    display:none;
  }
  
  ul.header-nav{
    width:50%;
  
  }
  
  header li > a{
    padding-right: 15px;
    padding-left: 15px;
  }

.content .index-screen{
    width: 600px;
    }
  
 .content .index-screen h1,  .content .index-screen p{
    width:75% !important；
  }
  /*
  **************************
  Portfolio Grid
  **************************
  */
 
  #portfolio-sidebar{

    width:630px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:630px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:282px;
  }

}



@media all and (max-width: 768px) and (min-width: 481px) {   /*------2小----- */


  header.boxed .header-margin{
    width:85%;
  }

  .content .text-intro{
    width:100%;
  }

  .footer-margin{
    width:400px;
  }

 .content .text-intro h1, .content .text-intro p, .content .text-intro li, .content .text-intro h2, .content .text-intro dl{
    width:60% ; /*used to be 70%*/
    margin: auto;
    text-align: left;
  }

  .full-column-bg{
        width:100%; 
        float:left;
    }  

  #full{
    width:400px;
    display:block !important;
  }

  .menu-index{
    display:block !important;
  }

  .prev-next{
    max-width:400px;
  }
  
  .home-sidebar{
    display:none;
  }
  
  ul.header-nav{
    width:370px;
  }

.content .text-intro h1{
        font-size: 30px;
    line-height: 50px;
    }
    
header .logo > a{
        font-size: 28px;
        line-height: 50px;
        padding-right: 5px;
    }
 
  header li > a{
    padding-right: 5px;
    padding-left: 15px;
      font-size: 12px;
      line-height: 50px;
  }
 
  .one-column, .two-column{
    width:100%;
  }
  
  .contact-one, .contact-two, .contact-three{
    width:100%;
  }
  
  textarea{
    height:250px;
  }

  input.button-submit{
    margin-bottom:100px;
  }
  
  .logo, .menu-index{
    display:block;
  }

 header.boxed{
    display:block;
  }  
  
  #footer-left{text-align:center;}
  
 .content .index-screen{
    width: 400px;
    }
  
 .content .index-screen h1,  .content .index-screen p{
    width:75% !important；
  }
  /*
  **************************
  Portfolio Grid
  **************************
  */
 
  #portfolio-sidebar{

    width:430px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:430px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:400px;
  }

}


@media all and (max-width: 480px) and (min-width: 320px) {   /*------最小----- */


  header.boxed .header-margin{
    width:280px;
  }

  .content .text-intro{
    width:100%;
  }

  .footer-margin{
    width:280px;
  }
  
  .footer-margin .copyright{line-height:40px;}

 .content .text-intro h1, .content .text-intro p, .content .text-intro li, .content .text-intro h2, .content .text-intro dl{
    width:60% ; /*used to be 70%*/
    margin: auto;
    text-align: left;
  }

  .full-column-bg{
        width:100%; 
        float:left;
    }  

  #full{
    width:280px;
    display:block !important;
  }
  
 .content .index-screen{
    width: 280px;
    }
  
 .content .index-screen h1,  .content .index-screen p{
    width:75% !important；
  }
  .menu-index{
    display:block !important;
  }

  .prev-next{
    max-width:280px;
  }
  
  .home-sidebar{
    display:none;
  }
 
  .one-column, .two-column{
    width:100%;
  }
  
  .contact-one, .contact-two, .contact-three{
    width:100%;
  }
  
  textarea{
    height:250px;
  }
  
  input, textarea{
    padding:0;
  }

  input.button-submit{
    margin-bottom:100px;
  }
  
  /*header.boxed{
    display:none !important;
      
  } */

.content .text-intro h1{
        font-size: 30px;
    line-height: 50px;
    }
    
ul.header-nav{
    width:250px;
    
  }

header .logo > a{
        font-size: 24px;
        line-height: 50px;
        padding-right: 5px;
    }
 
  header li > a{
    padding-right: 5px;
    padding-left: 15px;
      font-size: 12px;
      line-height: 50px;
  }
 
  #footer-left{text-align:center;}
  
  /*
  **************************
  Portfolio Grid
  **************************
  */
#bg{
        width:550px;
        left: -200px;
    } 
  #portfolio-sidebar{

    width:310px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:310px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:280px;
  }

}